<% if(locals.user){ %>
    <form action="/comments/create" method="POST">
        <input type="text" name="content" placeholder="Type Comments..." required>
        <input type="hidden" name="post" value="<%= post._id %>">
        <input type="submit" name="Add Comment">                       
    </form>
<% } %>
<ul>
    <% for(comment of post.comments){ %>
        <% if(locals.user && locals.user.id == comment.user.id){ %>
            <a href="/comments/destroy/<%= comment._id %>">X</a>
        <% } %>
        <p> <%= comment.content %> </p>
        <small><p> <%= comment.user.name %> </p></small>
    <% } %>
</ul>