<header>
    <div id="codeial">
        <h1><a href="/">Codeial</a></h1>
    </div>

    <div id="search">
        <% if(locals.user){ %>
            <form action="/users/search" method="POST">
                <input type="text" name="name" placeholder="Search" id="search-bar">
                <button id="search-button"><img src="../uploads//defaults/facebook-icon.png"></button>
            </form>
        <% } %>
    </div>

    <div id="noti">
        <a href="/notification/open"><img src="../uploads/defaults/noti.png" alt="notification" width="30"><%= notiCount %></a>
    </div>

    <div id="sign">
        <% if(locals.user){ %>
            <span id="name">
                <h4>
                    <a href="/users/profile/<%= locals.user._id %>"><%= locals.user.name %></a>
                </h4>
                <h4>
                    <a href="/users/sign-out">Sign Out</a>
                </h4>
            </span>
        <% }else{ %>
            <h4><a href="/users/sign-in">Sign In</a></h4>
            <h4><a href="/users/sign-up">Sign Up</a></h4>
        <% } %>
    </div>
</header>