<div class="flex">
    <div id="posts">
        <% if(locals.user){ %>
            <form action="/posts/create" id="post-form" enctype="multipart/form-data" method="POST">
                <label for="files"><input type="file" name="post" id="files"></label>
                <input type="submit" value="Post">
            </form>
        <% } %>
        <section id="posts-list-cointainer">
            <ul>
                <% for(post of posts){ %>
                    <%- include('_post'); -%>
                <% } %>
            </ul>
        </section>
    </div>
    
    <div id="chat">
        <a href="/users/chat-room"><img src="../uploads/defaults/chat-icon.png" alt="chat-icon" width="50"><%= count %></a>
    </div>
    
    <div id="friends-section">
        <% if(locals.user){ %>
            <% if(locals.user){ %>
                <h3>Friends</h3>
                <% for(friend of friends){ %>
                    <% if(friend.friends == true){ %>
                        <a href="/users/profile/<%= friend.receiver._id %>"><%= friend.receiver.name %></a>
                        <br>
                    <% } %>
                <% } %>
                <br>
            <% } %>
        <% } %>
    </div>
</div>