<html>
    <head>
        <title><%= locals.title %></title>
        <link rel="stylesheet" href="/css/layouts.css">
    </head>
    <body>
        <%- include('_header'); -%>
        <%- body -%>
        <%- include('_footer'); -%>
    </body>
</html>