<h1>Reset Password</h1>
<br>
<p>Hello <%= access_token.name %> your request for reset password has been accepted, click the link bellow</p>
<br>
<p><a href="/password/checkAccess/<%= access_token.access_token %>">Change Password</a></p>
<br>
<p>Thank You!</p>