#post-content {
  font-size: large; }

body {
  margin: 0%; }

.flex {
  display: flex; }

#chat {
  position: fixed;
  bottom: 40px;
  right: 40px; }

#posts {
  width: 70%;
  margin: 17px; }

.post-cointainer {
  height: 500px;
  background-color: white; }
